@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color: #dadada;
        color:rgba(0, 0, 0, 1);
    }

    .job-search-button-right {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 888;
        max-width: 150px;
    }
</style>
<div class="text-center">
    <img src="https://cdn.oildiversity.com/app/images/logo/logo-type-horizontal-white.svg" />
</div>
<div>
    <h3>
        The New Era of Business Collaboration, Innovation and Workforce Efficiency
    </h3>
</div>
<div class="text-center">
    <div class="row">
        <div class="col-lg-6">
            <input type="button" class="btn btn-lg btn-primary m-4 col-5" id="JobSeekerLogin" value="JOB SEEKER LOGIN" asp-page-handler="JOB SEEKER LOGIN" onclick="location.href='@Url.Action("Index", "Home", new { id = "JobSeekerLogin" })'" />
        </div>
        <div class="col-lg-6 ">
            <input type="button" class="btn btn-lg btn-primary m-4 col-5" id="JobSeekerSignUp" value="JOB SEEKER SIGN UP" asp-page-handler="Cancel" onclick="location.href='@Url.Action("Index", "Home", new { id = "JobSeekerSignUp" })'" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <input type="button" class="btn btn-lg btn-primary m-4 col-5" id="ClientLogin" value="CLIENT  LOGIN" asp-page-handler="Cancel" onclick="location.href='@Url.Action("Index", "Home", new { id = "ClientLogin" })'" />
        </div>
        <div class="col-lg-6">
            <input type="button" class="btn btn-lg btn-primary m-4 col-5" id="ClientSignUp" value="CLIENT SIGN UP" asp-page-handler="Cancel" onclick="location.href='@Url.Action("Index", "Home", new { id = "ClientSignUp" })'" />
        </div>
    </div>
</div>

<div class="job-search-button-right">
    <button class="btn btn-success quick-job-search-btn" onclick="location.href='@Url.Action("Index", "Home", new { id = "guest" })'"><i class="fa fa-search"></i><span class="hidden-xs">&nbsp;Search Jobs</span></button>
</div>