@*@model IEnumerable<EnergyCollab.Web.Models.VacancyDto>*@
@*partial view namespace*@
@using EnergyCollab.Web.Models
@model VacancyDto
@{
    ViewData["Title"] = "Index";
    List<VacancyDto> data = ViewData["vacancies"] as List<VacancyDto>;
}

<style>
    .container {
        padding: 2rem;
    }

    .jobs-list {
        border: 1px solid #e3e3e3;
        height: 10rem;
        padding: 1rem;
    }

        .jobs-list:hover {
            background-color: #f9fcf3;
        }

    .days-ago {
        margin: 0 0 0 88%;
    }

    .country-city {
        color: #80bd01;
        background-color: #f5fbe7;
        text-align: center;
        padding: 0.20rem;
    }

    .read-more-btn {
        background-color: #fff;
        color: #80bd01;
        border: 1px solid#80bd01;
        transition: 0.2s;
    }

        .read-more-btn:hover {
            background-color: #80bd01;
            color: white;
        }
</style>


@{
    if (data != null)
    {
        @foreach (var item in data)
        {   
            <div class="container">
                <div class="row jobs-list">
                    <div class="row text-left ">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 ">
                            <img src="https://api.theenergycollab.com/api/storage/redirect?id=f16d0957-a3b7-ea11-a2da-fc57d5303668"
                            alt="" class="img img-responsive img-thumbnail center-block">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 ">
                            <div class="row">
                                <span class="pull-right days-ago">3 days ago</span>
                                <p class="small">@Html.DisplayFor(modelItem => item.Country)</p>
                                <h3>@Html.DisplayFor(modelItem => item.CompanyName)</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="pull-left small country-city ">@Html.DisplayFor(modelItem => item.Education)/ @Html.DisplayFor(modelItem => item.Education)</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <a target="_blank"
                                    href="#!/show/?key=view-company-profile&amp;t=&amp;vc=2ebd234e-f1d7-467c-a59d-9881e18573f7&amp;r=1&amp;s=&amp;c=&amp;o=jobTitle"
                                    class="btn read-more-btn btn-xs pull-right">
                                        <span>Read More</span>&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            //        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })|
            //@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            //@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        }

    }
}
